* {
  font-family:Arial;
}

img.pumpkin {
  float: left;
}

h1.title {
  text-indent: 1em;
  color: orange;
  font-style: italic;
  text-shadow: 3px 3px #000000;
}

h2.goblin {
  text-indent: 1em;
}

h1 {
  font-size: 2.0em;
}

h1.welcome:first-letter {
  font-size: 2.5em;
}

